//==COLORS==
$theme-color:#000;
$secondary-color:#fff;
$hover-state-color:#ff9900;
$menu-bar-color:#333366;
$font-color:#666666;


//==FONTS==
$font-family: 'Montserrat', sans-serif;

//==SIZES==
$global-font-size: 10px;
$line-height: 20px;
$container-width:100%;