//==COLORS==
$theme-color:#ff9900;
$secondary-color:#333333;
$video-hover-color:#999999;
$font-color:#666666;



//==FONTS==

$font-family-main: 'Playfair Display', serif;
$font-family-secondary: 'Raleway', sans-serif;


//==SIZES==
$global-font-size: 10px;
$line-height: 20px;
$container-width:100%;