/*style*/
html{
	box-sizing: border-box;
}
*,*:before, *:after{
	box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;
	font:14px/1.5 Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 20px;
}
p{
	margin: 0 0 15px;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
	margin: 0;
}
#wrapper{
	position: relative;
	overflow: hidden;
	margin: 0;
}
#outside-container{
	margin: 0 auto;
	width:900px;
	background:#ebfafa;
}
.container{
	margin: 0 auto;
	width: 750px;	
}
.top-header{
	padding-top: 50px;
	background:#ebfafa; 
}
.logo{
	float: left;
	width: 100px;
	vertical-align: bottom;
}
.top-menu{
	float: right;
	width: calc(100% - 100px);
	text-align: right;
}
.home li{
	display: inline-block;
	vertical-align: top;
}
.home li a{
	display: inline-block;
	padding: 10px;
}
.home img{
	height: 30px;
	margin-top:-5px;
}
/*top no difference*/
.row{
	padding: 40px;
}
.shadow{
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	margin-bottom: 30px;
}
.no-difference{
	position: relative;
	background: #fff;
}
.do-travel{
	position: absolute;
	top: 10px;
	right: -8px;
	color: #fff;
	background: blue;
	padding: 2px;
}
.line-bottom{
	border-bottom: 1px solid #efeff5;
	padding-bottom: 30px;
}
.my-read{
	float: left;
	width: 100px;
}
.yosemite-menu{
	width: calc(100% - 100px);
	text-align: right;
	float: right;
}
.yosemite-menu li{
	display: inline-block;
}
.yosemite-menu li a{
	color: #cfd1d6;
	padding: 5px;
	display: inline-block;
}
/*	picture only */
.picture-only{
	width: 100%;
	margin-bottom: -5px;
}
.first-paragraph{
	color: #bec0c4;
}
/*many pictures*/
.many-pictures{
	margin: 0 -11px 0 -3px;
}
.waterfall-colum{
	float: left;
	width: 45%;
	height: 400px;
}
.leopard-colum{
	float: left;
	width: 54%;
	height: 400px;
	margin-left: 3px;
	position: relative;
}
.photos{
	position: absolute;
	background: black;
	top: 40px;
	left: 40px;
}
/*recorded-picture only */
.yosemite-menu2 li{
	display: inline-block;
}
.yosemite-menu2 li a{
	color: #cfd1d6;
	padding: 5px;
	display: inline-block;
}
/*quotation-mark*/
.double-quote:before{
    content: open-quote;
    font-weight: lighter;
    font-size:40px;
    color:grey;
    padding-right: 40px;
    margin-left: -47px;
} 
.double-quote{
	font-family: sans-serif;
}
.loraine{
	color: #cfd1d6;
}
/*wave-section*/
.my-picture{
	margin: 30px -3px 0 -4px;
}
/*tall statue*/
.my-statue{
	float: left;
}
.statue-article{
	float: right;
}
.border-left .first-paragraph{	
	border-left: 2px solid grey;
	padding-left: 40px;	
}
/*pagination*/
.pagination{
	text-align: center;
	margin: 30px;
}
.my-pagination li, .bottom-hr li, .last-image-section li{
	display: inline-block;	
}
.my-pagination li a, .bottom-hr li a, .last-image-section li a{
	display: inline-block;
	padding: 10px;
	margin: 10px;
}
.active{
	background: blue;
	color: #fff;
}
.bg-color{
	background: #fff;
	color: #000;
}
/*bottom blue section*/
.bottom-blue{
	background: #7171da; 
	text-align: center;
	padding: 40px 140px;
}
.bottom-hr{
	border-bottom: 2px solid #7068b3;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.new-color{
	color: #fff;
}
.home-color{
	color: #b7bfd4;
}
.bottom-hr img{
	height: 30px;
	width: 30px;
	vertical-align: middle;
}