.main-nav-section {

	.logo-holder {
		float:left;
	}
	.menu-holder {
		float:right;
	}

	ul {
		float:left;
		@include clearfix;
	}

	li {
		@include list-reset ;
		position: relative;

		img {
			position: absolute;
			top: 40px;
			right: 0px;
			left: 15px;
			display: inline-block;
			transform:scale(0);
			color: #fff;
			transition: all .4s linear;
		
		}

		&:hover img{
			transform:scale(1);
		}

	}

	a {
		@include anchor-tag(inline-block,none);
		padding: 10px 10px 0 0;
		text-decoration: none;
		color:$menu-bar-color;
		position: relative;

		&.arrow-down:after {
			content: '>';
			transform:rotate(90deg);
			position: absolute;
			top:10px;
			right: 0;
		}


		&:hover {
			color:$theme-color;
		}
	}

	.button-holder {
		float:right;
		padding: 0 0 10px;
		margin-right: -10px;
		
		.btn {
			outline:none;
			border: 0;
			background: none;
		}

		i {
			height: 30px;
			width:30px;
			border-radius: 100%;
			text-align: center;
			padding: 10px;

			&:hover {
				background:$hover-state-color;
				color:$secondary-color;
			}
		}
	}
	@media screen and (max-width:960px){
		.container {
			text-align: center;
			padding: 20px;
		}
		.logo-holder {
			float: none;
			margin-bottom: 10px;
		}
		.menu-holder {
			float:none;
			font-size: 13px;
		}

		ul {
			margin: 0;
   			padding: 0;
   			text-align: center;
		}


		li {
			img {
				top: 20px;
			}
		}

		.arrow-down:after {
			
			
		    position: none;
		    top: 10px;
		    right: 0
			
		}

		.button-holder {

			margin-right:0; 
			float: right;

			i {
				padding: 0;
				height: 0;
    			width: 0;
			}
		}

		.arrow-down:after {
			top: 0;
    		right: -4px;
		}
	}

	@media screen and (max-width:767px ){
			.container {
				padding: none;


			}
		.logo-holder {
			text-align: center;
			float: none;
		}

		ul {
			font-size: 13px;
		}
	}


	@media screen and (max-width: 640px){
		
		background: lighten(#0099cc, 40%);

			ul {
				float: none;
			}	

			li {
				display: block;
    			margin: 10px;

    			img {
    				
					display: none;				
    			}
			}

			.button-holder {
				float:none;
			}		
	}


	@media screen and (max-width: 480px){

		.menu-holder {
			float:none;
		}

		ul {
			float:none;
			text-align: center;		
		}

		li {
			display: block;
			margin-top: 5px;
			background: lighten(red, 40%);

		}

		a {
			display: block;
			padding: 10px;

			&:after{	
			content: '';	
			}
		}

		.button-holder {
			float:none;
			text-align: center;
	    	background: pink;
	    	margin-top: 5px;
	    	margin-right: 0;
			
		}

	}


}