//==COLORS==
$font-dark:#666666;
$darkenColor:darken($font-dark,10%);
$font-light:#99cccc;
$primary-color:#333333;
$grape-color:#996699;
$network-color:#339999;
$button-color:#33cc99;
$default-color:#fff;
$icon-rowColor:#011121;
$social-iconColor:#336666;
$lightenColor:lighten($social-iconColor,40%);

//==FONTS==
$font-open:'Open Sans', sans-serif; 
$font-condensed: 'Open Sans Condensed', sans-serif;

//==SIZES==
$font-size:16px;
$header-size1:70px;
$header-size2:40px;
$header-size3:30px;
$header-size4:20px;
$long-titleSize:23px;
$footer-font:13px;
$container-width:100%;
$ln-height: 25px;
$icon-size:40px;



//==BORDER==

