
        .panel-icon {

        	img{

        		float: left;
        		width: 30px;
        		padding-top: 200px;
        	}

        	.panel-body {
        		float: right;
        		width: calc(100% - 50px);
        		padding: 30px;
        		transition: all linear .5s;
                @include clearfix;

                &:before {
                    height: 0;
                    width: 0;
                    border-right: 50px solid #000;
                    border-top: 90px solid transparent;
                    border-bottom: 10px solid transparent;
                    content: '';

                }
            }

            a {
              color: darken(#000,70%);
            }

        }

  #integration-list {
      font-family: 'Open Sans', sans-serif;
      width: 80%;
      margin: 0 auto;
      display: table;
  }
  #integration-list ul {
      padding: 0;
      margin: 20px 0;
      color: #555;
  }
  #integration-list ul > li {
      list-style: none;
      border-top: 1px solid #ddd;
      display: block;
      padding:5px 0;
      overflow: hidden;
  }
  #integration-list ul:last-child {
      border-bottom: 1px solid #ddd;
  }
  #integration-list ul > li:hover {
      background: #efefef;
  }
  .expand {
      display: block;
      text-decoration: none;
      color: #555;
      cursor: pointer;
  }
  h2 {
      // padding: 10px 0;
      margin: 0;
      font-size: 17px;
      font-weight: 400;
  }
  // span {
  //     padding: 10px 0;
  // }
  #left,#right{
      display: table;
  }
  #sup{
      display: table-cell;
      vertical-align: middle;
      width: 80%;
  }
  .detail a {
      text-decoration: none;
      color: #C0392B;
      border: 1px solid #C0392B;
      padding: 6px 10px 5px;
      font-size: 14px;
  }
  .detail {
      margin: 10px 0 10px 0px;
      display: none;
      line-height: 22px;
      height: 150px;
  }
  .detail span{
      margin: 0;
  }
  .right-arrow {
      margin-top: 12px;
      margin-left: 20px;
      width: 10px;
      height: 100%;
      float: right;
      font-weight: bold;
      font-size: 20px;
  }
  .icon {
      height: 75px;
      width: 75px;
      float: left;
      margin: 0 15px 0 0;
  }
  .london {
      background: url("http://placehold.it/50x50") top left no-repeat;
      background-size: cover;
  }
  .newyork {
      background: url("http://placehold.it/50x50") top left no-repeat;
      background-size: cover;
  }
  .paris {
      background: url("http://placehold.it/50x50") top left no-repeat;
      background-size: cover;
  }


  .star .shapes {
    -webkit-clip-path: polygon(57%, 79% 91%, 50% 70%, 21% );
    clip-path: polygon(79% 91%, 50% 70%, 21% 91%, 32% 57%);

  }

  .shapes {
    padding: 15px;
    width: 300px;
    height: 300px;
    background-color: #0277BD;
    margin: 20px;
    cursor: auto;
  }


  hr {
    border: 1px solid #F1F1F1;
  }

  .accordian-content {
    text-align: center;
    background: #fff;
    opacity: .8;
    padding: 20px 0 0;
  }

  h4, p {
    margin: 0;
  }
