.header-top {
	background:#292b2c;
	height: 40px;
	box-shadow: inset 50px -13px 49px -100px #ABABAB,0px 17px 5px 1px #000000;
-webkit-box-shadow: inset 50px -13px 49px -100px #ABABAB,0px 17px 5px 1px #000000;
-moz-box-shadow: inset 50px -13px 49px -100px #ABABAB,0px 17px 5px 1px #000000;
-o-box-shadow: inset 50px -13px 49px -100px #ABABAB,0px 17px 5px 1px #000000;
}

.main-header {
	padding: 20px 0;
}